<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confimation</title>
</head>
<body>
    <p>Hello Order is <%=order._id%></p>
    <p>your order is confirmed</p>
    <p>order data: "<%=order.date%>"</p>
     <p>price data: "<%=order.price%>"</p>
    <p>Thank you</p>
</body>
</html>